# =========================
# Build directories
# =========================
build/
cmake-build-*/
out/
bin/
/target/

# CMake / legacy C++ (ignore if present locally)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
CTestTestfile.cmake
install_manifest.txt
Testing/

# Ninja
build.ninja
rules.ninja
.ninja_log
.ninja_deps

# =========================
# macOS
# =========================
.DS_Store
.AppleDouble
.LSOverride


# =========================
# Executables
# =========================
*.exe
*.out
*.app

# =========================
# Object files
# =========================
*.o
*.obj
*.so
*.dylib
*.dll
*.a

# =========================
# Debug / profiling
# =========================
*.log
*.prof
*.gmon

# =========================
# Editors
# =========================

# Neovim swap
*.swp
*.swo

# VSCode
.vscode/

# CLion
.idea/



.cache/
